<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Admin panel  </title>
</head>
<body>
<div class="container-fluid">
    <div class="row bg-dark align-items-center">
        <div class="col-11">
                    <span class="nav navbar-text text-white fs-4">
                        <strong><th:block th:text="${logUser.getEmail}"></th:block></strong>
                        &nbsp;<th:block th:text="'with roles: '+ ${logUser.getRolesString()}"></th:block>
                    </span>
        </div>
        <div class="col-1">
            <ul class="nav navbar-nav float-end">
                <li class="nav-item">
                    <form th:action="@{/logout}" th:method="post">
                        <input type="submit" value="Logout" class="bg-dark form-control-plaintext text-white-50 h5">
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 bg-white vh-100 p-0"><br>
            <ul class="nav flex-column nav-pills fs-5">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 bg-light vh-100"><br>
            <h1>
                Admin panel
            </h1>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/add">New User</a>
                </li>
            </ul>
            <table class="table table-striped table-bordered">
                <tbody>
                <tr>
                    <th class="h4 px-4">All users</th>
                </tr>
                <tr>
                    <td class="bg-white p-4 d-flex flex-column align-items-center">
                        <table class="table table-striped">
                            <form method="POST" th:action="@{/admin}" th:object="${user}">
                                <label class="form-label h6" for="firstname">First name: </label>
                                <input class="form-control w-25" type="text" th:field="*{firstName}" id="firstname"/>
                                <br/>
                                <label class="form-label h6" for="lastname">Last name: </label>
                                <input class="form-control w-25" type="text" th:field="*{lastName}" id="lastname"/>
                                <br/>
                                <label class="form-label h6" for="age">Age: </label>
                                <input class="form-control w-25" type="text" th:field="*{age}" id="age"/>
                                <br/>
                                <label class="form-label h6" for="email">Email: </label>
                                <input class="form-control w-25" type="text" th:field="*{email}" id="email"/>
                                <br/>
                                <label class="form-label h6" for="password">Password: </label>
                                <input class="form-control w-25" type="password" th:field="*{password}" id="password"/>
                                <br/>
                                <label class="form-label h6">Role: </label>
                                <select class="form-control w-25" multiple size="2" id="roles" name="roles" th:field="*{roles}">
                                    <option th:each="role : ${roles}"
                                            th:value="${{role}}"
                                            th:text="${role.getRoleAsString()}">
                                    </option>
                                </select>
                                <br/>
                                <input type="submit" value="Add new user" class="btn btn-success btn-lg">
                            </form>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</body>
</html>